.Box-model {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgb(30, 7, 75);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(35, 18, 185);
    margin: 10px;

}
#text{
    text-align: center;
    font-size: 24px;
    color: rgb(3, 3, 54);

    margin: 20px;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 10px;
}
#text:hover{
    background-color: #4f3104;
    cursor: pointer;
}